table {
    border-collapse: collapse;
}

td, th {
    border: 2px solid #000000;
    padding: 4px;
}

tr[data-meal-excess="red"] {
    color: red;
}

tr[data-meal-excess="green"] {
    color: green;
}